---
extends: base.j2
default_block: main
title: linux.conf.au 2018 - Sydney 22-26 January 2018
description: linux.conf.au 2018 accommodation
heading: Accommodation Options
motif: building1
---
{% markdown %}

There are many hotels offering rooms for a range of budgets in Sydney.
Please note that January 26 is a public holiday, which may lead to increased rates for that night at some locations.

linux.conf.au 2018 has also arranged discounted accommodation with surrounding providers.
Full details are available to delegates who have registered for an account on the website.

## Accessible rooms

A limited number of accessible rooms are available at the "Glebe
Space", and at the Mercure. Please contact the properties using the
links below to enquire about availability for these.

## Value accommodation at FreeSpace

We are pleased to offer value accommodation through
[FreeSpace](http://www.freespace.sydney), at their
[Glebe](https://goo.gl/maps/ACctZuGYdTm) and
[Sydney](https://goo.gl/maps/VsYVaFPti9x) spaces.

A range of rooms are available exclusively to attendees of
linux.conf.au 2018 for a limited time.

* $100/night - Double room at Sydney Space
* $110/night - Double ensuite room at Glebe Space
* $130/night - Twin/Triple ensuite room at Glebe Space

These rooms are individual dorm style rooms and have shared bathrooms and
common areas.

All rooms include complimentary wireless internet access.
Pillows, linens, towels and toiletries are provided.

These buildings are next door to each other, near the Parramatta Road entrance
to Sydney University.

It's about a 30 minute walk to the UTS venue, or you can take a 10-minute bus
trip (using Sydney's public transport). These buses are very frequent, so we
will not run shuttles - getting to and from the venue is up to attendees.

Please book this Accommodation via the [dashboard](https://rego.linux.conf.au/).

## Value accommodation at Song Hotel

We also have value accommodation available through [Song Hotel
Redfern](https://songhotels.com.au/song-hotel-redfern/)
[nearby](https://goo.gl/maps/Btm1F52oGQE2).

Double and twin rooms are available for $135/night.

These rooms are more traditional hotel rooms, each with an ensuite, a TV, a
fridge, etc. The Song Hotel also provides a complimentary "Light
Continental" breakfast.

This hotel is a 10-15 minute walk from the venue (crossing one major road).
Attendees will need to make their own arrangements in getting to and from the
venue each day.

Please book this Accommodation via the [dashboard](https://rego.linux.conf.au/).

## Discounts at nearby hotels

A number of hotels close to the venue are offering discounted rates
for attendees of linux.conf.au 2018.

These rooms are subject to availability and are subject to change.

### Vulcan Hotel

* Our code gives 10% off market rates, subject to availability, for stays checking in on or after Sun 21 Jan
and checking out on or before Friday 27th Jan.

<div class="my-3">
  <a class="btn btn-primary btn-md" href="https://rego.linux.conf.au/accommodation/hotels/">Discount codes and instructions</a>
</div>

### Accor Group

We've arranged a group booking code at 3 hotels run by the Accor Group in the vicinity of the conference.

These rates may not be the cheapest available rates at the hotels, so
you may wish to compare with prices available elsewhere.

However, our rates do include complimentary wifi for up to 5 devices
per room. These rates permit cancellation up to 30 days prior to
check-in (a cancellation fee of the first night's accommodation will
apply) and are transferable (you can change the name on the booking
if you aren't coming but can find someone else to take the
room). Cheaper rates may not allow this flexibility.

#### Payment terms

A non-refundable deposit equal to one night's accommodation will be
charged to guests' credit card at the time of reservation. At 29 days
prior to arrival, the guest's individual credit card will be charged
for all remaining reserved nights.

Should an individual cancel/reduce his/her reservation less than 29
days prior to arrival the above-mentioned payments will be forfeited
as a cancellation charge.

Should an individual fail to arrive at the hotel they will be
considered a No Show and they will be charged all nights booked.

#### Rates

These rates apply from Sunday night (21 Jan 2018) through Friday night
(26 Jan 2018), and are subject to availability. These rates cannot be
guaranteed after December 21 and may run out before depending on
demand. Market rates apply for other nights.

These rates are only available for phone or email bookings and will
not be presented on the hotel websites.

Discounted parking is available for $25/day at each location.

Breakfast may be added at the discounted price of $20 per person per day.

* Novotel Sydney Central: $249/night; [Standard Room](http://www.novotelsydneycentral.com.au/en/accommodation/standard-rooms.html)
* Mercure Sydney: $229/night; [Standard Room](http://www.mercuresydney.com.au/accommodation_viewItem_581-en.html)
* Ibis World Square: $199/night; [Standard Twin](http://www.ibissydneyworldsquare.com.au/en/accommodation/standard-twin-room.html) or [Standard Double](http://www.ibissydneyworldsquare.com.au/en/accommodation/standard-double-room.html)

#### Bookings

<div class="my-3">
  <a class="btn btn-primary btn-md" href="https://rego.linux.conf.au/accommodation/hotels/">Discount codes and instructions</a>
</div>
{% endmarkdown %}
