---
extends: base.j2
default_block: main
title: linux.conf.au 2018 - Sydney 22-26 January 2018
description: linux.conf.au 2018 sponsors
heading: Our Sponsors
motif: qvb
---
{% markdown %}

We would like to thank all of our sponsors.
Without them the conference would not be possible.

If you are interested in supporting linux.conf.au 2018, we would [love to hear from you]({{ content_url('sponsors/why-sponsor')}})!

## Adelie Penguin

<a href="https://sol1.com.au">
  <img class="penguin-logo penguin-adelie" src="{{ media_url('img/sponsors/sol1-logo-300.png') }}" />
</a>

## Fairy Penguin

<a href="https://www.discourse.org/">
  <img class="penguin-logo penguin-fairy" src="{{ media_url('img/sponsors/discourse-logo.png') }}" />
</a>

{% endmarkdown %}
